<div class="results-blck">
  <%= bootstrap_flash %>
</div>
<% if @stock %>
<div_class="well results-block">
  <strong>Symbol: </strong><%= @stock.ticker %>
  <strong>Name: </strong><%= @stock.name %>
  <strong>Price: </strong><%= @stock.last_price %>
</div>
<% end %>